[submodule "ydm-climate"]
	path = ydm-climate
	url = https://github.com/longavailable/ydm-climate.git
[submodule "ydm-geo"]
	path = ydm-geo
	url = https://github.com/longavailable/ydm-geo.git
[submodule "ydm-lucc"]
	path = ydm-lucc
	url = https://github.com/longavailable/ydm-lucc.git
